:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2f473a;
  background-color: #f3fbf6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f3fbf6;
}

body:has(.dark) {
  background-color: #101715;
}

img {
  max-width: 100%;
}

#root {
  width: 1126px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
